#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-logo {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;
}
.main-logo img {
  max-width: 150px;
  border-radius: 16px;
}
.main-logo h1 {
  font-size: 3em;
  line-height: 1.1;
  color: var(--main-blue);
}

button {
  margin-bottom: 24px;
}

