.character-card {
  border: 2px solid;
  border-radius: 12px;
  padding: 1rem;
  background-color: #1a1a2e;
  color: #ccc;
  height: 200px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);    
  &.harmonist {
    background-color: forestgreen;
    color: black;
  }
  &.tidekeeper {
    background-color: grey;
    color: black;
  }
  &.pactbound {
    background-color: navy;
    color: whitesmoke;
  }
  &.riftspawn {
    background-color: crimson;
    color: whitesmoke;
  }
  &.unknown {
    background-color: darkmagenta;
    color: whitesmoke;
  }
}